name: CI
on:
  - push
  - pull_request
permissions: {}
jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: current
      - run: npm install
      - run: npm test
